#report-problem-screen-capture {
    height: initial;
    width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: #B8B9BA solid 1px;
    opacity: 1;
    overflow: visible;
}

#variant-density-vf {
    margin-top: -170px;
    height: 20px;
}

#variant-density-ref-vf {
    height: 20px;
    margin-top: -17px;
}

.panel#chromosome-picker {
    height: 180px;
}

#variant-density-panel {
    height:  180px;
}

#variant-density {
    margin-top: -5px;
    height: 140px;
}

#sample-more-button {
    display: none;
    visibility: hidden;
}

body {
    font-family: 'Quattrocento Sans';
}