g.arcs {
  pointer-events: all;
}

.tick text {
  font-size: 12px;
}

#mut-spectrum .x .tick text {
    font-size: 22px;
    font-weight: bold;
}
#mut-spectrum .category text {
    font-size: 16px;
    font-weight: bold;
}


text.chartlabel {
	
	font-size: 9px;
	fill: white;
}

text.chartlabelSelected {
  
  font-size: 13px;
  color: white;
  fill: white;
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path.line {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.area-chart-gradient-top {
  stop-color: #006BB2;
  stop-opacity: 0.1;
}

.area-chart-gradient-bottom {
  stop-color: #006BB2;
  stop-opacity: 0.6;
}


#page {
}
section {
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display:         flex;
    display: -ms-flexbox;
}

section#top {
    -webkit-flex-flow: row;
            flex-flow: row;
   margin-right: 15px;         
   
   
}

section#middle {
    margin-right: 15px;
    
    -webkit-flex-flow: row;
            flex-flow: row;
}

section#bottom {
    margin-right: 15px;
    
    -webkit-flex-flow: col;
            flex-flow: col;
}

.panel {
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(230,230,230);
    border-radius: 2pt;
    text-align: center;
}

.panelTop {
    text-align: center;
}

.panel > .title { font-size: 26px}

.panel#chromosome-picker {
    -webkit-flex: 1 0 30%;
            flex: 1 0 30%;
    -webkit-order: 1;
            order: 1;
    height: 250px;                        
}

#primary-references {
    height: 200px;
    padding: 0px;
    margin: 0px;    
}
#other-references {
    display: none;
}
.panel#variant-density {
    -webkit-flex: 1 0 60%;
            flex: 1 0 60%;
    -webkit-order: 2;
           order: 2;
    height: 250px;
    position:relative;
}


#top-header {
    -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-order: 1;
            order: 1;
}    
#total-reads {
    -webkit-flex: 1 1;
            flex: 1 1;
    -webkit-order: 2;
            order: 2;
    display: none;
}


.panel#tstv-ratio {
    -webkit-flex: 1 0 10%;
            flex: 1 0 10%;
    -webkit-order: 1;
            order: 1;
}

.panel#allele-freq {
    -webkit-flex: 1 0 40%;
            flex: 1 0 40%;
    -webkit-order: 2;
            order: 2;
     height: 250px;                               
}

.panel#mut-spectrum {
    -webkit-flex: 1 0 40%;
            flex: 1 0 40%;
    -webkit-order: 3;
            order: 3;

}

#ratio-value {
    font-size:  4vw; 
    color:      #2687BE; 
    text-align: center;
    padding-left:8px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}




